<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Car table</h1>

<table border="1" style="width:300px">
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
    </tr>
    <tr th:each="lst : ${cars}">
        <td th:text="${lst.model}">Onions</td>
        <td th:text="${lst.year}">2.41</td>
        <td th:text="${lst.color}">yes</td>
    </tr>
</table>
</body>
</html>